.homepage-content
{
text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

.homepage-content img {
    max-width: 100%;
    border-radius: 10px;
    
}

.homepage-content button {
    background-color: #e85ba1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}
.homepage-content button:hover {
    background-color: #2694de;
}


h1 {
    color: #ec499b;
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
}



.about-us {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 0 auto; /* Center the paragraphs horizontally */
    max-width: 900px; /* Set a maximum width to control the width of the paragraphs */
    padding: 10px; /* Add padding for spacing within the borders */
    border: 3px solid #ddd; /* Add a 1px solid border with a light gray color */
    border-radius: 5px; /* Add rounded corners to the borders for a cleaner look */
}

 


.scroll-down-button
{
    text-align: center;
}